<h1> New Blogger </h1>

<%= form_with model: @blogger do |form| %>
    <label>Name:</label><br>
        <%= form.text_field :name %><br>
    <label>Age:</label><br>
        <%= form.number_field :age %><br>
    <label>Bio:</label><br>
        <%= form.text_area :bio %><br>
    <%= form.submit %>
<% end %>