<h1><%=@blogger.name%></h1>
<%=@blogger.age%><br>
<%=@blogger.bio%><br>
<%=@blogger.posts.inject(0) { |sum, num| sum + num.likes }%><br>
 

<%@post = @blogger.posts.max_by { |x| x.likes}%>
<%= link_to @post.title, @post%>